*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html{
    background-color: #dedede;
}

.align-c{
    text-align: center;
}

.song-input{
    height: 4vh;
    margin: 10px 20px;
}

#artistInput{
    height: 100%;
    font-size: 16px;
}

input::placeholder{
    margin: 10px;
}

#getResultButton{
    height: 100%;
    font-size: 16px;
    cursor: pointer;
}

.flex{
    display: flex;
}

.flex-d-c{
    flex-direction: column;
}

#audio-display{
    margin: 10px;
}

audio{
    margin: 10px;
}

.align-items-c{
    align-items: center;
}

.your-audios{
    width: 50%;
}

.justify-content-c{
    justify-content: center;
}

.heading-display{
    margin-top: 35px;
    font-size: 25px;
    font-weight: 900;
}

#playlist-display{
    margin: 0px auto;
}
